<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization uiCulture="es" culture="es-ES" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\fineractComplementService.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
		<environmentVariables>
        |<environmentVariable name="KeyApp" value="MIIMoQIBAzCCDGcGCSqGSIb3DQEHAaCCDFgEggxUMIIMUDCCBwcGCSqGSIb3DQEH" />
        </environmentVariables>
    </aspNetCore>
	<modules runAllManagedModulesForAllRequests="false">
		<remove name="WebDAVModule" />
	</modules>
  </system.webServer>
</configuration>
<!--ProjectGuid: a16588e8-a2b9-4810-ad01-6c7e631be6e5-->